@model ConfigurationDTO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="clusterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Cluster</h4>
            </div>
            <div class="modal-body">

                <form action="" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="applicationName">Cluster Name: </label>
                                <input type="text" name="clusterName" id="clusterName" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <input class="btn btn-success" type="submit" name="submit" value="Add" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="defaultsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="defaultsModalClose" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Default Setting</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="applicationName">Setting Name: </label>
                            <input type="text" id="settingName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="applicationName">Setting Value: </label>
                            <input type="text" id="settingValue" class="form-control" />
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-success" onclick="addDefaultValue()">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="row">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <h2>@Model.ApplicationName</h2>
            </div>
        </div>
    </div>
    <hr />
    <div class="col-md-9">
        <form action="@(HttpContextAccessor.HttpContext.Request.Path)/Defaults" method="post" class="col-md-12">
            <div class="row">
                <h4 class="pull-left">Defaults</h4>
            </div>
            <div class="row">
                @if (ReferenceEquals(null, Model.Defaults.Settings) == false)
                {
                    <div id="defaults" class="table-responsive">
                        <table class="table table-hover" ng-controller="defaultsController">
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var setting in Model.Defaults.Settings)
                                {
                                    <tr id="setting-row-@setting.Key">
                                        <td>
                                            <input type="text" class="setting-key-@(setting.Key)" value="@(setting.Key)" />
                                            <span class="hidden setting-key-@(setting.Key)">@setting.Key</span>
                                        </td>
                                        <td id="setting-value-@(setting.Key)">@setting.Value</td>
                                        <td class="col-md-1 actions">
                                            <div>
                                                <a href="#" class="pull-left @(Model.Defaults.Application.Access.HasAccess(Access.WriteAccess) ? string.Empty : "disabled")" onclick="editDefaultValue('@(setting.Key)', '@(setting.Value)')">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a href="#" class="pull-left @(Model.Defaults.Application.Access.HasAccess(Access.WriteAccess) ? string.Empty : "disabled")">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @if (Model.Defaults.Application.Access.HasAccess(Access.WriteAccess))
                        {
                            <a class="pull-left btn btn-primary btn-circle" href="#" data-toggle="modal" data-target="#defaultsModal">
                                Add new
                            </a>
                        }
                    </div>
                }
            </div>
            <hr />
            @if (Model.Defaults.Application.Access.HasAccess(Access.WriteAccess))
            {
                <input class="btn btn-success row" type="submit" name="submit" value="Save" />
            }
        </form>

    </div>

    <div class="col-sm-3 pull-right">
        <div class="row">
            <h4 class="pull-left">Clusters</h4>
        </div>

        @if (ReferenceEquals(null, Model.Clusters) == false)
        {
            <div class="row list-group">
                @foreach (var cluster in Model.Clusters)
                {
                    <a class="list-group-item" href="~/Projects/@(Model.ProjectName)/@(Model.ApplicationName)/@(cluster.Cluster.Name)/Machines">
                        @cluster.Cluster.Name
                    </a>
                }
            </div>
        }

        @if (Model.Defaults.Application.Access.HasAccess(Access.WriteAccess))
        {
            <a class="row btn btn-primary btn-circle" href="#" data-toggle="modal" data-target="#clusterModal">
                Add new
            </a>
        }
    </div>
</div>

<script type="text/javascript">
    function addDefaultValue() {
        var settingName = $('#settingName').val();
        var settingValue = $('#settingValue').val();

        if (settingName && settingValue) {

            var row1 = '<div id="setting-row-' + settingName + '" class="form-group setting-row">';
            var row2 = '<label for="setting-value-' + settingName + '" class="col-sm-1 control-label">' + settingName + '</label>';
            var row3 = '<div class="col-sm-11">';
            var row4 = '<input type="text" id="setting-value-' + settingName + '" name="config[' + settingName + ']" class="form-control" value="' + settingValue + '" />';
            var row5 = '</div>';
            var row6 = '</div>';

            var html = row1 + row2 + row3 + row4 + row5 + row6;

            $('#defaults .setting-row').last().after(html);
            $('#defaultsModalClose').click();
            $('#settingName').val('');
            $('#settingValue').val('');
        }
    }

    function editDefaultValue(key, value) {
        $('#settingName').val(key);
        $('#settingValue').val(value);
        $('#defaultsModal').modal();
    }

</script>